In [27]:
import pandas as pd
import numpy as np
import tensorflow as tf 
from sklearn.model_selection import train_test_split
import seaborn as sns

In [28]:
import warnings
warnings.filterwarnings("ignore")
titanic = sns.load_dataset("titanic")

DATA PREPROCESSING

In [29]:
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [30]:
titanic.dropna( subset=["age","embarked"],inplace=True )
titanic =pd .get_dummies(titanic,columns=["sex","embarked","class","who","deck"],drop_first=True)

In [31]:
X = titanic.drop( ["survived","embark_town","alone","adult_male","alive"],axis=1)
y = titanic["survived"]

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size=0.2)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_test = scaler.fit_transform(X_test)
X_train= scaler.fit(X_train)

In [34]:
from tensorflow import keras
from keras import layers
from keras import models

In [42]:
X_train.shape[1]

18

In [39]:
input_layer = tf.keras.layers.Dense(10,activation = "relu",input_shape = (X_train.shape[1],))
output_layer = tf.keras.layers.Dense(1,activation="sigmoid") 
model = tf.keras.models.Sequential([input_layer,output_layer])

In [44]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [76]:
model.fit(X_train,y_train,epochs=20,verbose=1,batch_size=32)

Epoch 1/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step - accuracy: 0.8159 - loss: 0.4162
Epoch 2/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step - accuracy: 0.8195 - loss: 0.3958
Epoch 3/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.7985 - loss: 0.4140
Epoch 4/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - accuracy: 0.8409 - loss: 0.3997
Epoch 5/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.8361 - loss: 0.4028
Epoch 6/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8194 - loss: 0.4089
Epoch 7/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.8377 - loss: 0.3853
Epoch 8/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8284 - loss: 0.3918
Epoch 9/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8224 - loss: 0.4076
Epoch 10/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8553 - loss: 0.3722
Epoch 11/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8507 - loss: 0.3771
Epoch 12/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8365 - loss: 0.3889
Epoch 13/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8266 - loss: 0.3952
Epoch 14/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.8281 - loss: 0.3844
Epoch 15/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8155 - loss: 0.4326
Epoch 16/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8449 - loss: 0.3762
Epoch 17/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8420 - loss: 0.4030
Epoch 18/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8169 - loss: 0.4298
Epoch 19/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8713 - loss: 0.3375
Epoch 20/20
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8699 - loss: 0.3675

In [77]:
loss,accuracy = model.evaluate(X_test,y_test,verbose=1)

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.8410 - loss: 0.4055

In [79]:
gpu = len(tf.config.list_physical_devices("GPU"))>0
print("gpu is ", "availaible" if gpu else "not avalaible")

gpu is  not avalaible